<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default-layout}"
      th:with="title='Admin - Categories'">
<th:block layout:fragment="css_added" >
    <!-- Custom styles for this page -->
    <link th:href="@{/static/css/dataTables.bootstrap4.min.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <h3 class="h3 mb-2 text-gray-800">Admin > Categories</h3>

        <div id="alertBox" class="alert alert-warning align-self-center" role="alert" tabindex="-1">
            Message
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary align-self-center">Categories List</h6>
                <a href="#" class="btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus"></i> ADD</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>

    </div>
</th:block>
<th:block layout:fragment="js_added" >
    <!-- Page level plugins -->
    <script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/js/dataTables.bootstrap4.min.js}"></script>

</th:block>
</html>