<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default-layout}"
      th:with="title='Admin - Users'">
<th:block layout:fragment="css_added" >
    <!-- Custom styles for this page -->
    <link th:href="@{/static/css/dataTables.bootstrap4.min.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <h3 class="h3 mb-2 text-gray-800">Admin > Users</h3>

        <div id="alertBox" class="alert alert-primary align-self-center" role="alert" tabindex="-1" hidden>
            Message
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary align-self-center">Users List</h6>
                <a data-target="#addModal" data-toggle="modal" href="#" class="btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus"></i> CREATE</a>
            </div>
            <div class="modal fade"
                 id="addModal" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">CREATE AN ACCOUNT</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addForm">
                                <div class="form-group">
                                    <label>Email</label><input type="email" name="email" class="form-control">
                                    <br>
                                    <label>Password</label><input type="text" name="password" class="form-control">
                                    <br>
                                    <div>
                                        <label>ROLE: </label>
                                        <input type="checkbox"
                                               name="roleId"
                                               id="roleId"
                                               checked data-toggle="toggle"
                                               data-on="Admin"
                                               data-off="User"
                                               data-onstyle="success"
                                               data-offstyle="primary"
                                               data-width="100">
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th colspan="7">USER INFORMATION</th>
                            <th colspan="2">ACTIONS</th>
                        </tr>
                        <tr>
                            <th>Stt</th>
                            <th>ID</th>
                            <th>Email</th>
                            <th>FullName</th>
                            <th>Phone</th>
                            <th>Birthday</th>
                            <th>Role</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Stt</th>
                            <th>User ID</th>
                            <th>Email</th>
                            <th>FullName</th>
                            <th>Phone</th>
                            <th>Birthday</th>
                            <th>Role</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="js_added" >
    <!-- Page level plugins -->
    <script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/static/js/admin-users.js}"></script>
</th:block>
</html>