<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default-layout}"
      th:with="title='Admin - Products'">
<th:block layout:fragment="css_added" >
  <!-- Custom styles for this page -->
  <link th:href="@{/static/css/dataTables.bootstrap4.min.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="content">
  <div class="container-fluid">

    <!-- Page Heading -->
    <h3 class="h3 mb-2 text-gray-800">Admin > Products</h3>

    <div id="alertBox" class="alert alert-primary align-self-center" role="alert" tabindex="-1">
      Message
    </div>

    <!--            add modal-->
    <div class="modal fade"
         id="addModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">CREATE A PRODUCT</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addForm">
              <div class="form-group">
                <label>Category</label><input type="email" name="email" class="form-control">
                <br>
                <label>Create Date</label><input type="text" name="password" class="form-control">
                <br>
                <label>Description</label><input type="email" name="email" class="form-control">
                <br>
                <label>Create Date</label><input type="text" name="password" class="form-control">
                <br>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">ADD</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">CLOSE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--            edit modal-->
    <div class="modal fade"
         id="editModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">PRODUCT DETAILS</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editForm">
              <div class="form-group">
                <label>ID</label><input type="number" name="id" class="form-control" disabled>
                <br>
                <label>Name</label><input type="text" name="name" class="form-control" disabled>
                <br>
                <label>Price Origin</label><input type="number" name="price_origin" class="form-control"
                                              disabled>
                <br>
                <label>Price Discount</label><input type="number" name="price_discount" class="form-control" disabled>
                <br>
                <label>Inventory</label><input type="number" name="inventory" class="form-control"
                                              disabled>
                <br>
                <label>Sold Qty</label><input type="number" name="sold_qty" class="form-control"
                                               disabled>
                <br>
                <label>View Qty</label><input type="number" name="view_qty" class="form-control"
                                               disabled>
                <br>
                <label>Create Date</label><input type="text" name="createDate" class="form-control"
                                              disabled>
                <br>
                <label>Category</label>
                <select class="custom-select" name="categoryId" id="category"></select>

                <br>
                <label>Description</label><textarea rows="5" name="description" class="form-control"
                                              disabled></textarea>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-warning" disabled>EDIT</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">CLOSE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary align-self-center">Products List</h6>
        <a href="#" class="btn btn-sm btn-primary shadow-sm">
          <i class="fas fa-plus"></i> ADD</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th colspan="6">PRODUCT INFORMATION</th>
              <th colspan="2">ACTIONS</th>
            </tr>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price Origin</th>
              <th>Sold/Total</th>
              <th>Create Date</th>
              <th>Category</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price Origin</th>
              <th>Sold/Inventory</th>
              <th>Create Date</th>
              <th>Category</th>
              <th></th>
              <th></th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  </div>
</th:block>
<th:block layout:fragment="js_added" >
  <!-- Page level plugins -->
  <script th:src="@{/static/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/static/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/static/js/admin-products.js}"></script>
</th:block>
</html>